In [16]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt



flights= pd.read_csv("H:/Projects/Airline/Data/flights.csv")

#changes the way the df is printed, so it shows all cols without wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
flights.head()

C:\Users\CYTech Student\AppData\Local\Temp\ipykernel_7692\1443640394.py:8: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights= pd.read_csv("H:/Projects/Airline/Data/flights.csv")

   YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  DEPARTURE_TIME  DEPARTURE_DELAY  TAXI_OUT  WHEELS_OFF  SCHEDULED_TIME  ELAPSED_TIME  AIR_TIME  DISTANCE  WHEELS_ON  TAXI_IN  SCHEDULED_ARRIVAL  ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED CANCELLATION_REASON  AIR_SYSTEM_DELAY  SECURITY_DELAY  AIRLINE_DELAY  LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0  2015      1    1            4      AS             98      N407AS            ANC                 SEA                    5          2354.0            -11.0      21.0        15.0           205.0         194.0     169.0      1448      404.0      4.0                430         408.0          -22.0         0          0                 NaN               NaN             NaN            NaN                  NaN            NaN
1  2015      1    1            4      AA           2336      N3KUAA            LAX                 PBI                   10             2.0             -8.0      12.0        14.0           280.0         279.0     263.0      2330      737.0      4.0                750         741.0           -9.0         0          0                 NaN               NaN             NaN            NaN                  NaN            NaN
2  2015      1    1            4      US            840      N171US            SFO                 CLT                   20            18.0             -2.0      16.0        34.0           286.0         293.0     266.0      2296      800.0     11.0                806         811.0            5.0         0          0                 NaN               NaN             NaN            NaN                  NaN            NaN
3  2015      1    1            4      AA            258      N3HYAA            LAX                 MIA                   20            15.0             -5.0      15.0        30.0           285.0         281.0     258.0      2342      748.0      8.0                805         756.0           -9.0         0          0                 NaN               NaN             NaN            NaN                  NaN            NaN
4  2015      1    1            4      AS            135      N527AS            SEA                 ANC                   25            24.0             -1.0      11.0        35.0           235.0         215.0     199.0      1448      254.0      5.0                320         259.0          -21.0         0          0                 NaN               NaN             NaN            NaN                  NaN            NaN

In [17]:
airports=pd.read_csv("H:/Projects/Airline/Data/airports.csv")
airports.head()

  IATA_CODE                              AIRPORT         CITY STATE COUNTRY  LATITUDE  LONGITUDE
0       ABE  Lehigh Valley International Airport    Allentown    PA     USA  40.65236  -75.44040
1       ABI             Abilene Regional Airport      Abilene    TX     USA  32.41132  -99.68190
2       ABQ    Albuquerque International Sunport  Albuquerque    NM     USA  35.04022 -106.60919
3       ABR            Aberdeen Regional Airport     Aberdeen    SD     USA  45.44906  -98.42183
4       ABY   Southwest Georgia Regional Airport       Albany    GA     USA  31.53552  -84.19447

In [21]:
flights=pd.DataFrame(flights)
#flights.info(show_counts=True)#show_counts adds the null counts
print(flights.columns.tolist())

['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER', 'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']

In [24]:
#removing cols that arent going to be used
flights = flights.drop(["TAXI_OUT", "WHEELS_OFF", "TAXI_IN"], axis=1)

#change the month from an int to a string
import calendar
flights["MONTH"] = flights["MONTH"].apply(lambda x: calendar.month_name[int(x)])

#doesnt work?????
import datetime
#seeing the values to see what function to use
flights["DAY_OF_WEEK"].value_counts()

# Convert to datetime
flights["DAY_OF_WEEK"] = pd.to_datetime(flights["DAY_OF_WEEK"])

# Extract day of the week (Monday=1, Sunday=7)
flights["DAY_OF_WEEK"] = flights["DAY_OF_WEEK"].dt.weekday+1

#renaming cols to be more accurate
flights.rename(columns={
    "AIR_TIME": "AIR_TIME(mins)",
    "DISTANCE": "DISTANCE(mi)",
    "DEPARTURE_DELAY": "DEPARTURE_DELAY(mins)"
}, inplace=True)
flights.head()

   YEAR    MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  DEPARTURE_TIME  DEPARTURE_DELAY(mins)  SCHEDULED_TIME  ELAPSED_TIME  AIR_TIME(mins)  DISTANCE(mi)  WHEELS_ON  SCHEDULED_ARRIVAL  ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED CANCELLATION_REASON  AIR_SYSTEM_DELAY  SECURITY_DELAY  AIRLINE_DELAY  LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0  2015  January    1            4      AS             98      N407AS            ANC                 SEA                    5          2354.0                  -11.0           205.0         194.0           169.0          1448      404.0                430         408.0          -22.0         0          0                 NaN               NaN             NaN            NaN                  NaN            NaN
1  2015  January    1            4      AA           2336      N3KUAA            LAX                 PBI                   10             2.0                   -8.0           280.0         279.0           263.0          2330      737.0                750         741.0           -9.0         0          0                 NaN               NaN             NaN            NaN                  NaN            NaN
2  2015  January    1            4      US            840      N171US            SFO                 CLT                   20            18.0                   -2.0           286.0         293.0           266.0          2296      800.0                806         811.0            5.0         0          0                 NaN               NaN             NaN            NaN                  NaN            NaN
3  2015  January    1            4      AA            258      N3HYAA            LAX                 MIA                   20            15.0                   -5.0           285.0         281.0           258.0          2342      748.0                805         756.0           -9.0         0          0                 NaN               NaN             NaN            NaN                  NaN            NaN
4  2015  January    1            4      AS            135      N527AS            SEA                 ANC                   25            24.0                   -1.0           235.0         215.0           199.0          1448      254.0                320         259.0          -21.0         0          0                 NaN               NaN             NaN            NaN                  NaN            NaN

In [ ]:
# change time cols to a proper time format
flights["SCHEDULED_DEPARTURE"] = pd.to_datetime(flights["SCHEDULED_DEPARTURE"].astype(str).str.zfill(4), format='%H%M').dt.strftime('%H:%M')

flights["ARRIVAL_TIME"] = pd.to_datetime(flights["ARRIVAL_TIME"].astype(str).str.zfill(4), format='%H%M').dt.strftime('%H:%M')

flights["SCHEDULED_TIME"] = pd.to_datetime(flights["SCHEDULED_TIME"].astype(str).str.zfill(4), format='%H%M').dt.strftime('%H:%M')

flights["SCHEDULED_ARRIVAL"] = pd.to_datetime(flights["SCHEDULED_ARRIVAL"].astype(str).str.zfill(4), format='%H%M').dt.strftime('%H:%M')

flights["DEPARTURE_TIME"] = pd.to_datetime(flights["DEPARTURE_TIME"].astype(str).str.zfill(4), format='%H%M').dt.strftime('%H:%M')

In [6]:

# See if the values in the Destination airport, and iata _code col match
#so we can preform an inner merge of the flights and airpors dataset

# Get unique values from flights and airports
unique_destinations = flights["DESTINATION_AIRPORT"].unique()
airport_list = airports["IATA_CODE"].unique()

# Check if all values in unique_destinations are present in airport_list
all_present = np.isin(unique_destinations, airport_list).all()

#if TRUE we can use iata to merge the 2 datasets
print(all_present)

False

In [1]:
#subsetting the dataset since it is too large to process it all

# I've decided to compare AmericanAirlines with Southwest
airlines=["WN","AA"]
comparison_db = flights.loc[(flights["AIRLINE"].isin(airlines))& (flights["MONTH"] == 12)]



#df is still  too large after only selecting 2 airlines
#we are only sellecting one month now

comparison_db.shape

NameError: name 'flights' is not defined

In [8]:
comparison_db=pd.merge(comparison_db,airports,left_on='DESTINATION_AIRPORT',right_on='IATA_CODE',how="inner")
comparison_db.shape

(0, 38)

Attempt to make the data more readable

In [9]:
file_path="h:/Projects/Airline/Data/subsetted_data.csv"
comparison_db.to_csv(file_path,index=False)


#Change the name of the airports and airlines using the other csv'
#Maybe use a relational sql database